.wireframe {
    display: flex;
    width: 1000px;
    margin: auto;
    flex-direction: column;
    justify-self: center;
    margin-top: 20vh;
    padding: 5rem;
    border: 1px solid black;
}

.heroes {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10vh 0;
}

.hero {
    padding:1rem;
    border: 1px solid black;
}

.button {
    width: 20%;
    margin:auto;
    padding:1rem;
    background: transparent;
}